@import url('https://fonts.googleapis.com/css?family=Roboto');

div {
    /* border: 2px solid red; */
}

body{
    background-color: #FFD700;
    color: white;
    font-family: 'Roboto', serif;

    /* background-color: #ffc700; */
    /* background-color: #1A1B25 */
    /* background-color: #FFD700; */
    /* opacity: 1;
    background-image: radial-gradient(#121212 0.7000000000000001px, transparent 0.7000000000000001px), radial-gradient(#121212 0.7000000000000001px, #FFD700 0.7000000000000001px);
    background-size: 28px 28px;
    background-position: 0 0, 14px 14px; */
    padding: 0%;
    margin: 0%;
}

/* this is the container that contains everything */
#container{
    background-color: #FFD700;
    display: flex;
    /* justify-content: space-between; */
    margin: 0%;
    padding: 0%;
    width: 100vw;
    /* flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px; */
    /* background-color: #3D4849; slate gray */
    /* padding: 10px 5px;
    border-radius: 10px;
    flex-basis: auto;
    min-width: 460px;
    max-width: 460px;
    box-shadow: 0px 5px 25px black;
    margin-top: 10%; */
}

#left_side{
    /* background-color: #3D4849; */
    background-color: #305256;
    height: 100vh;
    width: 280px;
    margin: 0%;
    /* border-radius:0px 8px 8px 0px; */
    /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.75); */
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    column-gap: 20px;
    justify-content: space-between;
}
/* 
#img_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#right_side{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex-grow: 1;
    flex-wrap: nowrap;



    opacity: 1;
    /* background-image: radial-gradient(#121212 0.7000000000000001px, transparent 0.7000000000000001px), radial-gradient(#121212 0.7000000000000001px, #FFD700 0.7000000000000001px); */
    background-image: radial-gradient(#ea2434 0.7000000000000001px, transparent 0.7000000000000001px), radial-gradient(#ea2434 0.7000000000000001px, #F8F8F9 0.7000000000000001px);
    /* background-image: radial-gradient(#FFD700 0.7000000000000001px, transparent 0.7000000000000001px), radial-gradient(#FFD700 0.7000000000000001px, #2F5154 0.7000000000000001px); */
    background-size: 28px 28px;
    background-position: 0 0, 14px 14px;
    /* padding: 0px 100px; */
    /* margin-left: 280px; */
    /* width: 100%; */
}

.about_img{
    width: 100%;
    border-radius: 8px;
    min-height: 400px;
    max-height: 400px;
    min-width: 400px;
    max-width: 400px;
    object-fit: cover; 
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.75);
}

.page_title{
    color: #ea2434;
    font-size: 70px;
    font-weight: 900;

    /* border: 2px solid red; */
    margin: 20px;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.75);
}





/*! Main bio on right side */
.main_bio{
    
    width: 650px;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: auto; */
    /* align-items: center; */

    /* background-color: #FFD700; */
    background-color: #305256;
    /* color: white; */
    /* color: white; */
    /* background-color: #938FA1; */
    /* color: #121212; */
    font-size: 16px;
    border-radius: 8px;
    padding: 20px 10px;
    /* max-height: 200px; */
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.75);
    /* max-width: 400px; */
}

.main_bio p{
    /* margin: 2px 2px;
    padding: 2px 2px; */
    font-size: 24px;
    /* font-weight: lighter; */
    /* color: white; */
    color: #FFD700;
    opacity: 90%;
    /* color: #D43D49; */
    /* opacity: 85%; */
}


/* image and the heading */
.top_side{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    margin-bottom: 5px;
    /* border: 2px solid gold; */
}

/*! KEEP THESE */
/* heading - my name */
.Header_sec h1{
    color: #FFD700;
    /* color: #D52C48; */
    font: 48px;
    font-weight: bold;
}

.Header_sec .col{
    border-collapse: collapse;
    margin: 0px;
    padding: 2px;
}

/* cs at richmond */
.Header_sec h4{
    /* opacity: 90%; */
    color: #ea2434;
    /* color: white; */
    font: 20px;
    font-weight: bolder;
}

.Header_sec{
    padding: 0 20px;
}


/*! ------------------------  */



/*! this is for the main paragraph */
.text_side{
    /* border: 2px solid gold; */
    max-width: 450px;
}






/*! this is for links */
.Links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin: 5px 0px;
    /* height: 200px; */
    /* color: #FFD700; */
    /* color: #D52C48; */
    color: #FFD700;
    font-size: 32px;
    /* font-weight: lighter; */
    column-gap: 20px;
    /* border: 2px solid black; */
}

.link_btn{
    /* background-color: white; */
    margin: 5px;
}

a{
    /* color: #D52C48; */
    color: #FFD700;
    text-decoration: none;
    padding: 0 5px;
}

a:hover{
    /* opacity: 85%; */
    text-decoration: underline;
    color: #ea2434;
}


.socials{
    color: #FFD700;    
}

#hello{
    /* color: white; */
}


#Cur_page{
    color: #ea2434;
}



/*! All code here is for project page */

#project_con{
    width: 70vw;
    height: 90vh;
    /* border-radius: 12px; */
    /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.75); */
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    column-gap: 20px;

    color: black;
    align-items: center;
    /* justify-content: space-between; */
    /* justify-content: center; */

    
    /* background-color: white; */
}

/* TODO <- class: header */
#prj_header{
    color: #ea2434;
    font-size: 52px;
    font-weight: 900;
}

.projects{
    /* background-color: white; */
    background-color: #305256;
    color: #FFD700;
    border-radius: 12px;
    padding: 2px 5px;
    /* padding-right: 0px; */
    margin: 10px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
    height: 600px;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

}

.projects h2{
    color: #ea2434;
    font-size: 20px;
}

.prj_left{
    width: 70%;
}

.prj_bottom{
    /* width: 250px; */
    /* width: inherit; */
    height: 400px;
    width: auto;
    /* background-color: #121212; */
    border-radius: 8px;
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 0px; */

    /* border: 2px solid red; */
}

.prj_links{
    color: #ea2434;
    font-size: 34px;
    font-weight: bold;
}

.prj_img{
    width: auto;
    height: 100%;
}