@import url('https://fonts.googleapis.com/css?family=Roboto');

div{
    border: 1px solid gold;
}
body{
    background-color: #121212;
    color: white;
    font-family: 'Roboto', serif;
}
#container{
    display: flex;
    flex-direction: row;
    margin: 0 20%;
    padding: 10px;
    gap: 10px;
    padding-top: 100px;
    /* align-items: center; */
    justify-content: center;
}
/* for the right side - name and bio */
.text_side{
    width: 300px;
}

.Header_sec .col{
    border-collapse: collapse;
    margin: 0px;
    padding: 0px 5px;
}
.Header_sec h1{
    color: #ffc700;
    font-size: 48px;
}

.main_bio{
    background-color: #da8558;
    color: #121212;
    padding: 0px 10px;
    font-size: 16px;
    border-radius: 8px;
}

/* for the image */
.rect{
    width: 300px;
    height: 400px;
    background-color: white;
}

/* for the links */
.Links{
    display: flex;
    justify-content: center;
    color: #ffc700;
}
a{
    text-decoration: none;
}