@import url('https://fonts.googleapis.com/css?family=Roboto');

/*! this is for testing */
div {
    /* border: 2px solid red; */
}

body{
    background-color: #FFD700;
    color: white;
    font-family: 'Roboto', serif;
    padding: 0%;
    margin: 0%;
}

/* this is the container that contains everything */
#container{
    background-color: #FFD700;
    display: flex;
    margin: 0%;
    padding: 0%;
    width: 100vw;
}

#left_side{
    /* position: fixed; */
    /* background-color: #3D4849; */
    background-color: #305256;
    height: 100vh;
    width: 280px;
    margin: 0%;
    /* border-radius:0px 8px 8px 0px; */
    /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.75); */
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    column-gap: 20px;
    justify-content: space-between;
}

#right_side{
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex-grow: 1;
    flex-wrap: nowrap;

    opacity: 1;
    /* background-image: radial-gradient(#121212 0.7000000000000001px, transparent 0.7000000000000001px), radial-gradient(#121212 0.7000000000000001px, #FFD700 0.7000000000000001px); */
    background-image: radial-gradient(#ea2434 0.7000000000000001px, transparent 0.7000000000000001px), radial-gradient(#ea2434 0.7000000000000001px, #F8F8F9 0.7000000000000001px);
    /* background-image: radial-gradient(#FFD700 0.7000000000000001px, transparent 0.7000000000000001px), radial-gradient(#FFD700 0.7000000000000001px, #2F5154 0.7000000000000001px); */
    background-size: 28px 28px;
    background-position: 0 0, 14px 14px;
    /* padding: 0px 100px; */
    /* margin-left: 280px; */
    /* width: 100%; */
}



/*! Titles of all pages */
.page_title{
    color: #ea2434;
    font-size: 70px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid red; */
    margin: 20px;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.75);
}



/** This is for ABOUT page  */
/*!------------------------------------------------------------------------------- */

/*! Main bio on right side */
.main_bio{
    
    width: 650px;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: auto; */
    /* align-items: center; */

    /* background-color: #FFD700; */
    background-color: #305256;
    /* color: white; */
    /* color: white; */
    /* background-color: #938FA1; */
    /* color: #121212; */
    font-size: 16px;
    border-radius: 8px;
    padding: 20px 10px;
    /* max-height: 200px; */
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.75);
    /* max-width: 400px; */
}

.main_bio p{
    /* margin: 2px 2px;
    padding: 2px 2px; */
    font-size: 24px;
    /* font-weight: lighter; */
    /* color: white; */
    color: #FFD700;
    opacity: 90%;
    /* color: #D43D49; */
    /* opacity: 85%; */
}

.about_img{
    width: 100%;
    border-radius: 8px;
    min-height: 400px;
    max-height: 400px;
    min-width: 400px;
    max-width: 400px;
    object-fit: cover; 
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.75);
}
/*!------------------------------------------------------------------------------- */



/** This is for the left MENU bar */
/*!------------------------------------------------------------------------------- */

/* heading - my name */
.Header_sec h1{
    color: #FFD700;
    /* color: #D52C48; */
    font: 48px;
    font-weight: bold;
}

/* cs at richmond */
.Header_sec h4{
    /* opacity: 90%; */
    color: #ea2434;
    /* color: white; */
    font: 20px;
    font-weight: bolder;
}

.Header_sec{
    padding: 0 20px;
}


/*! this is for links */
.Links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin: 5px 0px;
    /* height: 200px; */
    /* color: #FFD700; */
    /* color: #D52C48; */
    color: #FFD700;
    font-size: 32px;
    /* font-weight: lighter; */
    column-gap: 20px;
    /* border: 2px solid black; */
}

.link_btn{
    /* background-color: white; */
    margin: 5px;
}

a{
    /* color: #D52C48; */
    color: #FFD700;
    text-decoration: none;
    padding: 0 5px;
}

a:hover{
    /* opacity: 85%; */
    text-decoration: underline;
    color: #ea2434;
}


.socials{
    color: #FFD700;    
}

#Cur_page{
    color: #ea2434;
}
/*!------------------------------------------------------------------------------- */



/** All code here is for PROJECT page */
/*!------------------------------------------------------------------------------- */

#project_con{
    width: 65vw;
    height: 90vh;
    /* border-radius: 12px; */
    /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.75); */
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    column-gap: 20px;

    color: black;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* justify-content: center; */

    /* border: 2px solid red; */
    /* background-color: white; */
}

#prj_carousel{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */

    position: relative;
}

#prj_carousel ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
}

#prj_left_arr{
    transform: rotate(180deg);
}

/* FOR THE NAV ARROWS */
.nav_arrow{
    position: absolute;
    top: 300px;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    z-index: 4;
    color: #ea2434;
    font-size: 40px;
    background-color: inherit;
    align-items: center;
    border: none;
    text-shadow: -2px 0px 5px rgba(0, 0, 0, 0.75);
}

.nav_arrow:hover{
    cursor: pointer;
}

.nav_arrow:active{
    color: #FFD700;
}

#prj_left_arr{
    left: 1rem;
}

#prj_right_arr{
    right: 1rem;
}


.projects{
    position: absolute;
    inset: 0;

    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;

    background-color: #305256;
    color: #FFD700;
    border-radius: 12px;
    padding: 2px 5px;
    margin: 10px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.75);
    height: 600px;
    width: inherit;

    display: flex;
    flex-direction: column;

    /* border: 2px solid gold; */
}

.projects[data-active]{
    opacity: 1;
    transition-delay: 0ms;
    z-index: 1;
}

.projects h2{
    color: #ea2434;
    font-size: 20px;
}

.prj_top{
    width: 80%;
    height: 200px;
    border-collapse: collapse;
    padding: 0%;
    margin: 0%;

    /* border: 2px solid red; */
}

.prj_bottom{
    height: 400px;
    width: auto;
    /* background-color: #121212; */
    border-radius: 8px;
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid red; */
}

.prj_links{
    color: #ea2434;
    font-size: 34px;
    font-weight: bold;
    padding: 0%;
}

.prj_img{
    width: auto;
    max-width: 80%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.75);
}

/*!------------------------------------------------------------------------------- */





/** This is for the GALLERY page */
/*!------------------------------------------------------------------------------- */

/* code from - https://freefrontend.com/css-carousels/ */
.pic-ctn {
    width: 50vw;
    height: 50vh;
    background-color: #305256;
    border-radius: 12px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.75);
    padding: 10px 20px;
    box-sizing: border-box;
}
.pic-ctn img{
    display: block;
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 8px;
}

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.pic-ctn {
    position: relative;
    /* width: 100vw; */
    /* height: 300px; */
    margin-top: 15vh;
}

.pic-ctn > img {
    position: absolute;
    top: 10px;
    /* left: calc(50% - 100px); */
    opacity: 0;
    animation: display 10s infinite;
}

img:nth-child(2) {
    animation-delay: 2s;      
}
img:nth-child(3) {
    animation-delay: 4s;
}
img:nth-child(4) {
    animation-delay: 6s;
}
img:nth-child(5) {
    animation-delay: 8s;
}
/*!------------------------------------------------------------------------------- */